* {
    padding: 0;
    margin: 0;
}

body {
    background: white !important;
}

.card {
    width: 32%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.5) !important;
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.swiper-container {
    width: 90%;
    height: 516px;
}

.swiper-slide {
    width: 475.5px;
}

img {
    margin-left: 70px !important;
    width: auto;
    overflow: hidden;
    max-width: 189px;
    height: 284px;
}

h2 {
    word-wrap: break-word;
    margin-left: 70px !important;
}

.keyboard {
    margin: auto;
}

.form-control {
    width: 94% !important;
    float: left;
    margin-bottom: 5px;
}

.fa-keyboard {
    font-size: 25px;
}

.btn-block {
    width: 94%;
}

.btn-primary {
    padding: 0 !important;
    width: 50px;
    height: 37px;
    margin: 0 0 0px 9px !important
}

.kb-block {
    display: block !important;
}

.keyboard-container {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    z-index: 2;
}

@media screen and (max-width: 1200px) {
    .form-control {
        width: 92% !important;
    }
    .btn-block {
        width: 92%;
    }
}

@media screen and (max-width: 1020px) {
    .form-control {
        width: 89% !important;
    }
    .btn-block {
        width: 89%;
    }
}

@media screen and (max-width: 800px) {
    .form-control {
        width: 87% !important;
    }
    .btn-block {
        width: 87%;
    }
}

@media screen and (max-width: 650px) {
    .form-control {
        width: 99% !important;
    }
    .btn-block {
        width: 99%;
    }
    .btn-primary {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    img {
        margin-left: 31% !important;
    }
    h2 {
        word-wrap: break-word;
        margin-left: 31% !important;
    }
}